@import '~antd/dist/antd.css';
@import '~tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  background: linear-gradient(to bottom, #0b101c, #213053);
}

.ant-menu::before{
  content: none !important;
}
.ant-menu::after{
  content: none !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left{
  border-right: none !important;
}